/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Ruh1";
  src: url("/fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruh1 Mudium";
  src: url("/fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}
html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(6rem + 1vw);
  --speical-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
}

h1 {
  font-size: var(--header1);
}

li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
  font-weight: normal;
}
h4,
h5 {
  font-size: var(--header4);
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

body {
  font-family: "Ruhl", sans-serif;
  animation: openning 1s ease-in-out;
}
h1 {
  font-family: "Vibes", sans-serif;
}

/* nav section  */
.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: relative;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 10vh;
  /* padding: 2rem 0rem; */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 4 1 20rem;
  align-items: center;
  height: 100%;
}

.nav-links li {
  height: 100%;
  display: flex;
  align-items: center;
}

.underline {
  border-bottom: 5px solid #4483d5;
}

.nav-links li:hover {
  cursor: pointer;
}

#logo {
  flex: 1 1 20rem;
}

main {
  width: 70%;
  margin: 2rem auto;
}

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterItem {
  padding: 1rem 3rem;
  background-color: #ededed;
  border-radius: 5rem;
  transition: all 0.2s ease;
}

.filter p:hover {
  background-color: #4483d5;
  color: white;
  cursor: pointer;
}

.highlight {
  background-color: #4483d5;
  color: white;
}

.recipes {
  margin: 3rem 0rem;
}

.recipe {
  height: 30vh;
  display: flex;
  overflow: hidden;
  padding: 2rem;
  border-bottom: 1px solid#adadad;
}

.recipe img {
  border-radius: 2rem;

  object-fit: cover;
}

.add:hover {
  cursor: pointer;
}

.recipe img {
  margin-right: 3rem;
}
.add {
  text-align: right;
  color: #4483d5;
}
.mycollection {
  position: fixed;
  right: 0rem;
  bottom: 0rem;
  padding: 1rem 4rem;
  background-color: #4483d5;
  transition: all 0.2s ease;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.mycollection:hover {
  background-color: #5198f5;
  padding: 2rem 4rem;
}

.mycollection span {
  height: 3rem;
  border-radius: 25rem;
  background-color: red;
  width: 3rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.manage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #4483d5;
  font-size: 2rem;
}

.delete {
  cursor: pointer;
}
.edit {
  margin-right: 2rem;
  cursor: pointer;
}

.save {
  margin-right: 2rem;
  cursor: pointer;
}

.info {
  width: 100%;
}

.info input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.info textarea {
  display: block;
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  margin: 1rem auto;
  resize: none;
}
