/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Ruh1";
  src: url("/fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruh1 Mudium";
  src: url("/fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
  font-family: "Vibes";
  src: url("/fonts/GreatVibes-Regular.ttf");
}
html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(1.8rem + 1vw);
  --text: calc(0.8rem + 1vw);
  --big: calc(6rem + 1vw);
  --speical-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
}

h1 {
  font-size: var(--header1);
}

li,
button,
label,
input,
a,
p {
  font-size: 1.8rem;
}

h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
  font-weight: normal;
}
h4,
h5 {
  font-size: var(--header4);
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}

body {
  font-family: "Ruhl", sans-serif;
  animation: openning 1s ease-in-out;
}
h1 {
  font-family: "Vibes", sans-serif;
}

/* nav section  */
.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: relative;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 10vh;
  /* padding: 2rem 0rem; */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 15 1 20rem;
  align-items: center;
  height: 100%;
}

.nav-links li {
  height: 100%;
  display: flex;
  align-items: center;
}

.underline {
  border-bottom: 5px solid #4483d5;
}

.nav-links li:hover {
  cursor: pointer;
}

#logo {
  flex: 1 1 15rem;
}

#logo a {
  font-size: var(--header4);
}

main {
  width: 70%;
  margin: 2rem auto;
}

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.filterItem {
  /* flex: 1 1 5rem; */
  /* min-width: 15rem; */
  margin: 1rem 2rem;
  padding: 1rem 3rem;
  background-color: #ededed;
  border-radius: 5rem;
  transition: all 0.2s ease;
  font-size: var(--text);
}

.filter p:hover {
  background-color: #4483d5;
  color: white;
  cursor: pointer;
}

.highlight {
  background-color: #4483d5;
  color: white;
}

h4 {
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}

.recipe {
  /* height: 30vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
  border-bottom: 1px solid#adadad;
  flex-wrap: wrap;
}

.recipe img {
  object-fit: cover;
  width: 20rem;
  margin-right: 3rem;

  border-radius: 2rem;
  flex: 1 1 30rem;
  object-fit: cover;
}

.add:hover {
  cursor: pointer;
}

.add {
  background-color: #4483d5;
  padding: 0.5rem 1rem;
  text-align: right;
  color: white;
  font-size: 1.5rem;
  border-radius: 2rem;
}
.mycollection {
  position: fixed;
  right: 0rem;
  bottom: 0rem;
  padding: 1rem 2rem;
  background-color: #4483d5;
  transition: all 0.2s ease;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text);
  color: white;
  cursor: pointer;
}

.mycollection:hover {
  background-color: #5198f5;
  padding: 2rem 4rem;
}

.mycollection span {
  height: 3rem;
  border-radius: 25rem;
  background-color: red;
  width: 3rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.manage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #4483d5;
  font-size: 2rem;
}

.delete {
  cursor: pointer;
}
.edit {
  margin-right: 2rem;
  cursor: pointer;
}

.save {
  margin-right: 2rem;
  cursor: pointer;
}

.info {
  width: 100%;
  flex: 1 1 30rem;
}

.info h4 {
  margin: 1rem auto;
}

.info input {
  margin-top: 1rem;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.info textarea {
  display: block;
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  margin: 1rem auto;
  resize: none;
}

.burger,
.menu-check {
  display: none;
}

@media screen and (max-width: 1200px) {
  main {
    width: 90%;
    margin: 2rem auto;
  }
  .mycollection {
    position: fixed;
    left: 0rem;
    bottom: 0rem;
    right: auto;
  }
}
@media screen and (max-width: 650px) {
  .burger {
    position: relative;
    display: block;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }

  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }

  .nav-links {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .underline {
    border: 5px solid #4483d5;
    background-color: #4483d5;
  }

  .nav-links li {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .menu-check {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(5%, -50%);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
  }

  .menu-check:checked + .nav-links {
    transform: translateX(-100%);
  }

  .menu-check:checked ~ .burger span {
    background: white;
  }

  .menu-check:checked ~ .burger span:nth-child(1) {
    transform: rotateZ(45deg) translateY(300%);
  }

  .menu-check:checked ~ .burger span:nth-child(3) {
    transform: rotateZ(-45deg) translateY(-300%);
  }
  .menu-check:checked ~ .burger span:nth-child(2) {
    opacity: 0;
  }
}
